.error{
    filter: brightness(1.10);
    font-size: .95em;
    font-style: italic;
    text-align: start;
  }

  .pointer {
    cursor: pointer;
  }
  
  @media  screen and (max-width: 1000px) {
    .card {
      width: 95%;
    }
  
    .text{
      text-align: center!important;
    }
  }